.detail-page {
  padding-bottom: 30px;
  .top {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-right: 10px;
	  color: #3ab804;
    }

    .subTitle {
      color: #b4b4b4;
    }
  }

  .create {
    background-color: #0061d5;
    color: #ffffff;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition-duration: 0.35s;
    user-select: none;
    width: fit-content;

    &:hover {
      background-color: #0869df;
    }

    &:active {
      background-color: #0d5bbb;
    }
  }

  .group-button {
    display: flex;
    align-items: center;
    justify-content: right;

    .edit {
      background-color: #01357a;
      color: #ffffff;
      border-radius: 8px;
      padding: 6px 20px;
      cursor: pointer;
      transition-duration: 0.35s;
      user-select: none;
	  margin-right: 30px;

      &:hover {
        background-color: #014bac;
      }

      &:active {
        background-color: #136de2;
      }
    }

    .delete {
      @extend .edit;
      background-color: #ebebeb;
      border: 1px solid #c5c5c5;
      color: #555555;

      &:hover {
        background-color: #d6d6d6;
      }

      &:active {
        background-color: #ebebeb;
      }
    }
  }
}
